@import "bourbon"



// .theme--day (default)
.theme--day
	--key-color: 0,0,0
	--key-alpha: 0.65
	--bg-color: 255,255,255
	--link-color: 0,84,255
	--link-hover-color: 33,137,255
	--active-color: 238,117,202
	--error-color: 228,106,106
	--menu-bg-color: 255,255,255
	--overlay-bg-color: 255,255,255