@import "bourbon"
@import "../__var"



// .theme--night
.theme--night
	--key-color: 255,255,255
	--key-alpha: 0.5
	--bg-color: 17,17,17
	--link-color: 91,172,255
	--link-hover-color: 47,150,255
	--active-color: 238,117,202
	--error-color: 228,106,106
	--menu-bg-color: 17,17,17