.chart {
  min-width: 10em; }
  .chart p.label {
    font-size: 2em;
    line-height: 2em;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.22);
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: 50%;
    margin-top: -1em; }
