.page--chart {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.chart--label {
  font-size: 2em;
  line-height: 1;
  font-weight: 300;
  text-align: center;
  color: rgba(255, 255, 255, 0.22); }
