.home {
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }
  .home__logo {
    margin: 3.75em 0 2.25em 0; }

.auth {
  width: 95%; }
  .auth .input {
    text-align: center;
    width: 100%; }
  .auth .btn {
    width: 62%; }
  .auth .field {
    position: relative; }
  .auth .field + .field {
    margin-top: .5em; }
  .auth .action {
    margin-top: 3em; }
