// link_focus
@keyframes link_focus
	0%
		opacity: 0
		transform: translate3d(0,0,0) translate(0, 2px) scale(1.11, 1.11)
	38%
		opacity: 1
		transform: translate3d(0,0,0) translate(0, 0) scale(.9, .9)
	100%
		opacity: 0
		transform: translate3d(0,0,0) translate(0, 0) scale(1, 1)



// overlay_isVisible
@keyframes overlay_isVisible
	0%
		background-color: #{'rgba(var(--overlay-bg-color), 0)'};
	100%
		background-color: #{'rgba(var(--overlay-bg-color), .8)'};



// overlay_isHidden
@keyframes overlay_isHidden
	0%
		background-color: #{'rgba(var(--overlay-bg-color), .8)'};
	100%
		background-color: #{'rgba(var(--overlay-bg-color), 0)'};



// bgcolor_isVisible
@keyframes bgcolor_isVisible
	0%
		background-color: rgba(0,0,0, 0)
	100%
		background-color: rgba(0,0,0, .5)

+keyframes(bgcolor_isHidden)
	0%
		background-color: rgba(0,0,0, .5)
	100%
		background-color: rgba(0,0,0, 0)



// modal_isVisible
@keyframes modal_isVisible
	0%
		opacity: 0
		transform: translate3d(0,0,0) scale(1.03,1.03) translate(0,0)
	25%
		opacity: .1
	100%
		opacity: 1
		transform: translate3d(0,0,0) scale(1,1) translate(0,0)



// modal_isHidden
@keyframes modal_isHidden
	0%
		opacity: 1
		transform: translate3d(0,0,0) scale(1,1) translate(0,0)
	100%
		opacity: 0
		transform: translate3d(0,0,0) scale(.97,.97) translate(0,0)