@import "bourbon"



// .icon--holder
.icon--holder
	display: block
	box-sizing: border-box
	text-align: center
	position: relative
	transition: all .175s ease-in-out
	background: none
	padding: 0
	margin: 0
	outline: 0 !important
	border: 0
	border-radius: 0
	box-shadow: none
	text-shadow: none
	cursor: default
	&:hover
		.line,
		.dot
			background-color: #{'rgba(var(--key-color), calc(var(--key-alpha) + .20))'};
	.icon--glyph
		&:before,
		&:after
			display: block
			content: ""
			width: 60%
			height: 2px
			opacity: 0
			background-color: #{'rgba(var(--key-color), calc(var(--key-alpha)))'};
			transition: all .25s var(--bezier)
			position: absolute
			top: calc(50% - 1px)
			left: 20%
			@media only screen and (min-width : 1500px)
				height: 3px
		&:before
			transition-delay: .1s
			transform: rotate(0deg) scale(1.5, 1.5)
		&:after
			transition-delay: 0
			transform: rotate(90deg) scale(1.5, 1.5)
	&.alt
		.icon--glyph
			.line,
			.dot
				opacity: 0
			&:before
				transition-delay: 0
				transform: rotate(-45deg) scale(1, 1)
				opacity: 1
			&:after
				transition-delay: .1s
				transform: rotate(45deg) scale(1, 1)
				opacity: 1



// .i--menu
.i--menu
	
	.line
		display: block
		width: 70%
		height: 2px
		background-color: #{'rgba(var(--key-color), calc(var(--key-alpha)))'};
		transition: all .25s var(--bezier)
		position: absolute
		left: 15%
		@media only screen and (min-width : 1500px)
			height: 3px
	
	.l-1
		top: calc(50% - 6px)
		@media only screen and (min-width : 750px)
			top: calc(50% - 7px)
		@media only screen and (min-width : 1500px)
			top: calc(50% - 8px)
	
	.l-2
		top: calc(50% - 1px)
	
	.l-3
		top: calc(50% + 4px)
		@media only screen and (min-width : 750px)
			top: calc(50% + 5px)
		@media only screen and (min-width : 1500px)
			top: calc(50% + 6px)
	
	&.alt
		
		.l-1
			transform: scale(.65, .65) translate(0, 2px)
		.l-2
			transform: scale(.65, .65)
		.l-3
			transform: scale(.65, .65) translate(0, -2px)


// .i--close
.i--close
	
	.line
		display: block
		width: 60%
		height: 2px
		background-color: #{'rgba(var(--key-color), calc(var(--key-alpha)))'};
		transition: all .25s var(--bezier)
		position: absolute
		top: calc(50% - 1px)
		left: 20%
		@media only screen and (min-width : 1500px)
			height: 3px
	
	.l-1
		transform: rotate(-45deg)
	
	.l-2
		transform: rotate(45deg)



// .i--back
.i--back
	
	.line
		display: block
		width: 70%
		height: 2px
		background-color: #{'rgba(var(--key-color), calc(var(--key-alpha)))'};
		transition: all .25s var(--bezier)
		position: absolute
		left: 15%
		@media only screen and (min-width : 1500px)
			height: 3px
	
	.l-1
		top: calc(50% - 1px)
	
	.l-2
		top: calc(50% - 5px)
		transform: rotate(-45deg)
		width: 35%
		@media only screen and (min-width : 750px)
			top: calc(50% - 6px)
		@media only screen and (min-width : 1500px)
			top: calc(50% - 7px)
	
	.l-3
		top: calc(50% + 3px)
		transform: rotate(45deg)
		width: 35%
		@media only screen and (min-width : 750px)
			top: calc(50% + 4px)
		@media only screen and (min-width : 1500px)
			top: calc(50% + 5px)



// .i--more
.i--more
	
	.dot
		display: block
		width: 4px
		height: 4px
		border-radius: 50%
		background-color: #{'rgba(var(--key-color), calc(var(--key-alpha)))'};
		transition: all .25s var(--bezier)
		position: absolute
		left: calc(50% - 2px)
		&:before,
		&:after
			display: block
			content: ""
			width: 100%
			height: 100%
			border-radius: 50%
			background-color: #{'rgba(var(--key-color), calc(var(--key-alpha)))'};
			transition: all .25s var(--bezier)
			oapcity: 0
			position: absolute
			left: 0
			top: 0
		@media only screen and (min-width : 1500px)
			width: 6px
			height: 6px
			left: calc(50% - 3px)
	
	.d-1
		top: calc(50% - 9px)
		@media only screen and (min-width : 1500px)
			top: calc(50% - 11px)
	
	.d-2
		top: calc(50% - 2px)
	
	.d-3
		top: calc(50% + 5px)
		@media only screen and (min-width : 1500px)
			top: calc(50% + 7px)
	
	&.alt
		
		.d-1
			transform: scale(.65, .65) translate(0, 2px)
			//transform: scale(.5, .5) translate(-10px, -4px) rotate(-100deg)
			&:before
				//transform: translate(-12px, -12px)
				//oapcity: .5
			&:after
				//transform: translate(12px, 12px)
				//opacity: .5
		.d-2
			transform: scale(.65, .65)
			//transform: scale(.5, .5) translate(6px, 0px) rotate(60deg)
			&:before
				//transform: translate(-8px, -4px)
				//oapcity: .5
			&:after
				//transform: translate(14px, 0px)
				//opacity: .5
		.d-3
			transform: scale(.65, .65) translate(0, -2px)
			//transform: scale(.5, .5) translate(-4px, 4px) rotate(-150deg)
			&:before
				//transform: translate(12px, 12px)
				//oapcity: .5
			&:after
				//transform: translate(-12px, -12px)
				//opacity: .5