// Clearfix
.clearfix
	clear: both



// Display None/Block...
.isBlock
	display: block !important
.isInlineBlock
	display: inline-block !important
.isGrid
	display: grid !important
.isNone
	display: none !important



// Overflow Hidden
.x-hidden
	overflow-x: hidden !important
.y-hidden
	overflow-y: hidden !important
.xy-hidden
	overflow: hidden !important



// Overflow Scroll
.x-scroll
	overflow-x: scroll !important
.y-scroll
	overflow-y: scroll !important
.xy-scroll
	overflow: scroll !important



// Overflow Auto
.x-auto
	overflow-x: auto !important
.y-auto
	overflow-y: auto !important
.xy-auto
	overflow: auto !important



// Text Align
.align-center
	text-align: center
.align-left
	text-align: left
.align-right
	text-align: right
.align-justify
	text-align: justify