.crutch--holder {
  display: none;
  width: 100px;
  height: 100px;
  overflow: auto;
  position: fixed;
  left: -10000px;
  top: -10000px;
  z-index: 1000; }

.crutch--inner {
  height: 200px; }

.overlay {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(var(--overlay-bg-color));
  opacity: 0;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 90;
  -webkit-transition: opacity 0.5s var(--bezier);
  transition: opacity 0.5s var(--bezier); }
  .overlay.isVisible {
    opacity: .85; }
  .overlay.isHidden {
    opacity: 0; }

.app--sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(var(--menu-bg-color), 1);
  opacity: 0;
  overflow: auto;
  width: var(--app-sidebar-width);
  height: calc(100% - var(--header-height));
  position: fixed;
  bottom: 0;
  z-index: 100;
  -webkit-transition: opacity 0.5s var(--bezier), -webkit-transform 0.5s var(--bezier);
  transition: opacity 0.5s var(--bezier), -webkit-transform 0.5s var(--bezier);
  transition: transform 0.5s var(--bezier), opacity 0.5s var(--bezier);
  transition: transform 0.5s var(--bezier), opacity 0.5s var(--bezier), -webkit-transform 0.5s var(--bezier); }
  .app--sidebar.major {
    border-right: 1px solid rgba(var(--key-color), .08);
    left: calc(var(--app-sidebar-width) * -1); }
  .app--sidebar.minor {
    border-left: 1px solid rgba(var(--key-color), .08);
    right: calc(var(--app-sidebar-width) * -1); }
  .app--sidebar.major.isVisible {
    -webkit-transform: translate(var(--app-sidebar-width), 0) !important;
            transform: translate(var(--app-sidebar-width), 0) !important;
    opacity: 1; }
  .app--sidebar.major.isHidden {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; }
  .app--sidebar.major.x2 {
    -webkit-transform: translate(calc(var(--app-sidebar-width) * -1), 0);
            transform: translate(calc(var(--app-sidebar-width) * -1), 0); }
  .app--sidebar.minor.isVisible {
    -webkit-transform: translate(calc(var(--app-sidebar-width) * -1), 0) !important;
            transform: translate(calc(var(--app-sidebar-width) * -1), 0) !important;
    opacity: 1; }
  .app--sidebar.minor.isHidden {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0; }
  .app--sidebar.minor.x2 {
    -webkit-transform: translate(var(--app-sidebar-width), 0);
            transform: translate(var(--app-sidebar-width), 0); }
  .app--sidebar .ava {
    background-color: rgba(var(--key-color), .12);
    background-position: center center;
    background-size: cover;
    height: 8.5em;
    overflow: hidden; }
    .app--sidebar .ava img {
      width: 100%; }
  .app--sidebar .list {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .app--sidebar .list .item {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: block;
      position: relative;
      border-bottom: 1px solid rgba(var(--key-color), .08);
      padding: 0 calc(var(--header-height) / 4) 0 calc(var(--header-height));
      text-decoration: none;
      white-space: nowrap;
      vertical-align: middle;
      height: var(--header-height);
      line-height: var(--header-height); }
      .app--sidebar .list .item:before {
        display: none; }
      .app--sidebar .list .item:after {
        display: block;
        content: '';
        width: calc(var(--header-height) / 2);
        height: calc(var(--header-height) / 2);
        background-color: rgba(var(--key-color), .12);
        border-radius: 50%;
        position: absolute;
        left: calc(var(--header-height) / 4);
        top: calc(var(--header-height) / 4); }
      .app--sidebar .list .item:hover, .app--sidebar .list .item:focus {
        background-color: rgba(var(--key-color), .05); }
      .app--sidebar .list .item:focus {
        -webkit-box-shadow: inset 0 0 0 2px rgba(var(--active-color), .6);
                box-shadow: inset 0 0 0 2px rgba(var(--active-color), .6); }
      .app--sidebar .list .item:active {
        background-color: rgba(var(--key-color), .1); }
