.overlay {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(var(--overlay-bg-color), .8);
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  -webkit-transition: background-color 0.75s var(--bezier), opacity 0.75s var(--bezier);
  transition: background-color 0.75s var(--bezier), opacity 0.75s var(--bezier); }
  .overlay.isVisible {
    opacity: 1; }
  .overlay.isHidden {
    opacity: 0; }

.app--menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(var(--menu-bg-color), 1);
  -webkit-box-shadow: 0 0 3em rgba(0, 0, 0, 0.35), 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3em rgba(0, 0, 0, 0.35), 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: auto;
  width: 17em;
  height: 100%;
  position: fixed;
  left: -21em;
  bottom: 0;
  z-index: 200;
  -webkit-transition: -webkit-transform 0.75s var(--bezier);
  transition: -webkit-transform 0.75s var(--bezier);
  transition: transform 0.75s var(--bezier);
  transition: transform 0.75s var(--bezier), -webkit-transform 0.75s var(--bezier); }
  .app--menu.isVisible {
    -webkit-transform: translate(21em, 0);
            transform: translate(21em, 0); }
  .app--menu.isHidden {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  .app--menu .ava {
    background-color: rgba(var(--key-color), .12);
    background-position: center center;
    background-size: cover;
    height: 8.5em;
    overflow: hidden; }
    .app--menu .ava img {
      width: 100%; }
  .app--menu .list {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .app--menu .list .item {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: block;
      position: relative;
      border-bottom: 1px solid rgba(var(--key-color), .08);
      padding: 0 calc(var(--header-height) / 4) 0 calc(var(--header-height));
      text-decoration: none;
      white-space: nowrap;
      vertical-align: middle;
      height: var(--header-height);
      line-height: var(--header-height); }
      .app--menu .list .item:before {
        display: none; }
      .app--menu .list .item:after {
        display: block;
        content: '';
        width: calc(var(--header-height) / 2);
        height: calc(var(--header-height) / 2);
        background-color: rgba(var(--key-color), .12);
        border-radius: 50%;
        position: absolute;
        left: calc(var(--header-height) / 4);
        top: calc(var(--header-height) / 4); }
      .app--menu .list .item:hover, .app--menu .list .item:focus {
        background-color: rgba(var(--key-color), .05); }
      .app--menu .list .item:focus {
        -webkit-box-shadow: inset 0 0 0 2px rgba(var(--active-color), .6);
                box-shadow: inset 0 0 0 2px rgba(var(--active-color), .6); }
      .app--menu .list .item:active {
        background-color: rgba(var(--key-color), .1); }
