// Page
.page
	box-sizing: border-box
	border-top: calc(var(--header-height) + 1px) solid transparent
	//border-bottom: var(--footer-height) solid transparent
	//width: 100%
	//min-height: 100%
	//height: 0
	padding: 2em 0
	position: relative
	z-index: 50
	//background-color: #330000
	grid-column: 1
	grid-row: 1
	//justify-self: stretch
	//align-self: stretch
	transition: transform .75s var(--bezier), opacity .75s var(--bezier)
	&.toRight
		transform: translate(17em,0)
		//opacity: .2
	&.toLeft
		transform: translate(-17em,0)
		//opacity: .2
	&.toCenter
		transform: translate(0,0)
		//opacity: 1
	img
		max-width: 100%
	table
		max-width: 100%



@import "home"
@import "chart"
@import "cond"