// Page
.page
	box-sizing: border-box
	border-top: var(--header-height) solid transparent
	//border-bottom: var(--footer-height) solid transparent
	//width: 100%
	//min-height: 100%
	//height: 0
	padding: 2em 0
	position: relative
	z-index: 50
	//background-color: #330000
	grid-column: 1
	grid-row: 1
	//justify-self: stretch
	//align-self: stretch
	transition: transform .5s var(--bezier), opacity .5s var(--bezier)
	&.toRight
		transform: translate(var(--app-sidebar-width),0)
	&.toLeft
		transform: translate(calc(var(--app-sidebar-width) * -1),0)
	&.toCenter
		transform: translate(0,0)
	img
		max-width: 100%
	table
		max-width: 100%



@import "home"
@import "chart"
@import "cond"