- var page_title = "Loading...";

doctype html
html.desktop.win.theme--night
	block html
		
		
		head
			block head
				
				block title
					title= page_title
				
				block meta
					include ./meta.pug
				
				block css
					include ./css.pug
				
				block favicon
					include ./favicon.pug
		
		
		body
			block body
				
				
				block main
				
				
				block app--header
					include ./_app--header.pug
				
				
				//block app--footer
					include ./_app--footer.pug
				
				
				//block modal
					include ../modal/__base.pug
				
				
				block js
					include ./js.pug