// .app--sidebar.major
aside.app--sidebar.major#app--sidebar--major
	
	// .ava
	div.ava(style="background-image:url(./img/ava/bus1/ava2.jpg)")
	
	// .list
	nav.list
		a.item(href="./home.html") Home
		a.item(href="./cond.html") Condition
		a.item(href="./form.html") Form
		a.item(href="./text.html") Text
	
// /.app--sidebar.major



// .app--sidebar.minor
aside.app--sidebar.minor#app--sidebar--minor
	
	// .ava
	div.ava(style="background-image:url(./img/ava/bus1/ava2.jpg)")
	
	// .list
	nav.list
		a.item(href="./home.html") Item 1
		a.item(href="./cond.html") Item 2
		a.item(href="./form.html") Item 3
		a.item(href="./text.html") Item 4
		a.item(href="./home.html") Item 5
		a.item(href="./cond.html") Item 6
		a.item(href="./form.html") Item 7
		a.item(href="./text.html") Item 8
	
// /.app--sidebar.minor



// .overlay
div.overlay#overlay
// /.overlay