// .app--header
header.app--header
	
	// .icon--cell.major
	div.icon--cell.major
		
		// .i--menu
		button(data-sidebar-id="app--sidebar--major" data-overlay-id="overlay" tabindex=1).icon--holder.i--menu
			div.icon--glyph
				span.line.l-1
				span.line.l-2
				span.line.l-3
		
		// .i--close
		//button(data-sidebar-id="app--sidebar--major" data-overlay-id="overlay" tabindex=1).icon--holder.i--close
			div.icon--glyph
				span.line.l-1
				span.line.l-2
		
		// .i--back
		//button.icon--holder.i--back
			div.icon--glyph
				span.line.l-1
				span.line.l-2
				span.line.l-3
	
	// stretch--cell
	div.stretch--cell
		
		// .title
		div.title Title and more more more title, yeh!
	
	// .icon--cell.minor
	div.icon--cell.minor
		
		// .i--more
		button(data-sidebar-id="app--sidebar--minor" data-overlay-id="overlay").icon--holder.i--more
			div.icon--glyph
				span.dot.d-1
				span.dot.d-2
				span.dot.d-3

// /.app--header