// .app--menu
aside.app--menu.isHidden
	
	// .list
	nav.list
		a(href="./home.html") Home
		a(href="./cond.html") Condition
		a(href="./form.html") Form
		a(href="./text.html") Text
	
// /.app--menu
// .overlay
div.overlay
// /.overlay