// .app--header
header.app--header
	
	// .icon--cell.major
	div.icon--cell.major
		
		// .i--menu
		button.icon.icon--holder.i--menu
			div.icon--glyph
				span.line.l-1
				span.line.l-2
				span.line.l-3
		
		// .i--back
		//button.icon.icon--holder.i--back
			div.icon--glyph
				span.line.l-1
				span.line.l-2
				span.line.l-3
	
	// stretch--cell
	div.stretch--cell
		
		// .title
		div.title Title and more more more title, yeh!
	
	// .icon--cell.minor
	div.icon--cell.minor
		
		// .i--more
		button.icon.icon--holder.i--more
			div.icon--glyph
				span.dot.d-1
				span.dot.d-2
				span.dot.d-3

// /.app--header