extends ./tpl/layout/__base.pug


block title
	- var page_title = "Condition";
	title= page_title


block main
	
	
	// .page--cond
	main.page.page--cond
		
		
		// .container
		div.container
			
			
			// card.card-wt
			div.card.card-wt
				
				// .card--header
				header.card--header
					div.title--holder
						h4.title Water
					div.icons--holder
						div.icon 1
						div.icon 2
						div.icon 3
						div.icon 4
				
				// .card--body
				section.card--body
					div.gauge
						
						div.label--holder
							div.label Mineral
							div.value 0 L
						div.gauge--holder
							div.gauge--layer-1
						
						div.label--holder
							div.label Other
							div.value 6 L
						div.gauge--holder
							div.gauge--layer-1
								div.gauge--layer-2(style='width:33.33%')
						
						div.label--holder
							div.label Park
							div.value 1.5 L
						div.gauge--holder
							div.gauge--layer-1
								div.gauge--layer-2(style='width:8.33%')
				
				
	// /.page--cond