extends ./tpl/layout/__base.pug


block title
	- var page_title = "Condition";
	title= page_title


block main
	
	
	// .page.page-cond
	main.page.page-cond
		
		
		// .container
		div.container
			
			
			// card.card-wt
			div.card.card-wt
				
				// .card__header
				header.card__header
					div.title-holder
						h4.title Water water water water water water
					div.icons-holder
						div.icon 1
						div.icon 2
						div.icon 3
						div.icon 4
				
				// .card__body
				section.card__body
					div.wt-row
						div.wt-label-holder
							p.wt-label Mineral
						div.wt-gauge-holder
							div.gauge-back
								div.gauge-front(style='width:0')
					div.wt-row
						div.wt-label-holder
							p.wt-label Other
						div.wt-gauge-holder
							div.gauge-back
								div.gauge-front(style='width:33.33%')
					div.wt-row
						div.wt-label-holder
							p.wt-label Park
						div.wt-gauge-holder
							div.gauge-back
								div.gauge-front(style='width:11.11%')
				
				
	// /.page.chart