extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block content
	
	
	// Content
	main.content
		
		
		// Home
		main.home
			div.logo
			div.auth
		// /Home
		

	// /Content