extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block main
	
	
	// .page.chart
	main.page.chart
		
		
		// .chart__label
		div.chart__label
			p Chart
		// /.chart__label
		
		
	// /.page.chart