extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block main
	
	
	// .page--chart
	main.page.page--chart
		
		
		// .chart--label
		div.chart--label
			p Chart
		// /.chart--label
		
		
	// /.page--chart