extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block main
	
	
	// .page
	main.page.chart
		
		
		// .container
		div.container
			
			
			// Chart
			p.label chart
			
			
		// /.container
		
		
	// /.page