extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block main
	
	
	// .page
	main.page
		
		
		// .container
		div.container
			
			
			p Hello
			//p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident odio, voluptas aliquam laudantium inventore numquam a quam, ea distinctio blanditiis minus unde quos magnam cupiditate pariatur? Quae ratione, in ipsa.
			//p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident odio, voluptas aliquam laudantium inventore numquam a quam, ea distinctio blanditiis minus unde quos magnam cupiditate pariatur? Quae ratione, in ipsa.
			
			
		// /.container
		
		
	// /.page