@import "../__var"



// .card
.card
	box-sizing: border-box
	border-top: 1px solid rgba(255,255,255, .1)
	border-bottom: 1px solid rgba(255,255,255, .1)
.card-wt
	border-top: none



// .card--header
.card--header
	width: 100%
	height: $card_header_height
	line-height: $card_header_height
	border-bottom: 1px solid rgba(255,255,255, .1)
	user-select: none
	color: rgba(255,255,255, .55)
	display: grid
	grid-template-columns: auto min-content
	grid-template-rows: 1fr
	justify-content: stretch
	align-content: stretch
	justify-items: stretch
	align-items: stretch
	
	

	// .title--holder
	.title--holder
		overflow: hidden
		text-overflow: ellipsis
		padding: 0 1em
	
	// .title
	.title
		box-sizing: border-box
		font-size: 1em
		line-height: inherit
		font-weight: 500
		text-transform: uppercase
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		padding: 0
		margin: 0
	
	// .title >crutch< :|
	.ff .card--header .title
		white-space: normal
		word-break: break-all
	
	

	// .icons--holder
	.icons--holder
		box-sizing: border-box
		display: grid
		grid-template-columns: repeat(10, auto)
		grid-template-rows: 1fr
		justify-content: stretch
		align-content: stretch
		justify-items: stretch
		align-items: stretch
	
	// .icon
	.icon
		box-sizing: border-box
		width: $card_header_height
		min-width: $card_header_height
		max-width: $card_header_height
		text-align: center



// .card--body
.card--body
	padding: 2em 1em 2em 1em