@import "../__var"



// .card
.card
	box-sizing: border-box
	border-top: 1px solid rgba(255,255,255, .1)
	border-bottom: 1px solid rgba(255,255,255, .1)
.card-wt
	border-top: none



// .card--header
.card--header
	width: 100%
	height: $card_header_height
	line-height: $card_header_height
	color: rgba(255,255,255, .55)
	vertical-align: middle
	user-select: none
	border-bottom: 1px solid rgba(255,255,255, .1)
	display: grid
	grid-template-columns: auto min-content
	grid-template-rows: 1fr
	justify-content: stretch
	align-content: stretch
	justify-items: stretch
	align-items: stretch
	
	
	
	// .icon--holder
	.icon--holder
		box-sizing: border-box
		display: grid
		grid-template-columns: repeat(10, auto)
		grid-template-rows: 1fr
		justify-content: stretch
		align-content: stretch
		justify-items: stretch
		align-items: stretch
		&.major
		&.minor
		
		// .icon
		.icon
			box-sizing: border-box
			width: $card_header_height
			min-width: $card_header_height
			max-width: $card_header_height
			text-align: center
			background-color: #000033
	
	
	
	// .stretch--holder
	.stretch--holder
		overflow: hidden
		position: relative
		
		// .title
		.title
			box-sizing: border-box
			position: absolute
			width: 100%
			font-size: 1em
			line-height: inherit
			//font-weight: 500
			//text-transform: uppercase
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			padding: 0 1em
			margin: 0



// .card--body
.card--body
	padding: 2em 1em