@import "../__var"



// .card
.card
	box-sizing: border-box
	border-top: 1px solid rgba(255,255,255, .1)
	border-bottom: 1px solid rgba(255,255,255, .1)
.card-wt
	border-top: none



// .card__header
.card__header
	box-sizing: border-box
	color: rgba(255,255,255, .55)
	height: $card_header_height
	line-height: $card_header_height
	border-bottom: 1px solid rgba(255,255,255, .1)
	user-select: none
	display: grid
	grid-template-columns: auto max-content
	grid-template-rows: 1fr
	justify-content: stretch
	align-content: stretch
	justify-items: stretch
	align-items: stretch
	//background-color: #000011
	
	// .title-holder
	.title-holder
		//box-sizing: border-box
		//width: 100%
		//max-width: 100%
		overflow: hidden
		text-overflow: ellipsis
		padding: 0 .6em
		//background-color: #000044
	
	// .title
	.title
		box-sizing: border-box
		//width: 100%
		//max-width: 100%
		font-size: 1em
		line-height: inherit
		font-weight: 500
		text-transform: uppercase
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		padding: 0
		margin: 0
		//background-color: #003300
	
	// .icons-holder
	.icons-holder
		box-sizing: border-box
		display: grid
		grid-template-columns: repeat(4, auto)
		grid-template-rows: 1fr
		justify-content: stretch
		align-content: stretch
		justify-items: stretch
		align-items: stretch
	
	// .icon
	.icon
		box-sizing: border-box
		width: $card_header_height
		min-width: $card_header_height
		max-width: $card_header_height
		text-align: center
		//background-color: #330000

// Crutch :|
.ff .card__header .title
	white-space: normal
	word-break: break-all



// .card__body
.card__body
	padding: 1.5em 1em


