.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-size: 1.18em;
  line-height: inherit;
  height: 2.75em;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  padding: .65em .75em .15em .75em;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  cursor: default;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .input + .brd {
    -webkit-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.08);
    position: absolute; }
  .input:hover {
    color: rgba(255, 255, 255, 0.95); }
    .input:hover + .brd {
      background-color: rgba(255, 255, 255, 0.15);
      height: 2px; }
  .input:focus {
    color: rgba(255, 255, 255, 0.95);
    -webkit-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s; }
    .input:focus + .brd {
      -webkit-transition-duration: .2s;
           -o-transition-duration: .2s;
              transition-duration: .2s;
      background-color: rgba(238, 117, 202, 0.8);
      height: 2px; }
  .input:disabled {
    color: rgba(255, 255, 255, 0.2) !important;
    cursor: default !important; }
    .input:disabled + .brd {
      background-color: rgba(255, 255, 255, 0.08) !important;
      height: 1px !important; }
  .input.error {
    color: rgba(228, 106, 106, 0.75);
    font-style: italic; }

.input::-webkit-input-placeholder {
  color: inherit;
  opacity: .4; }

.input:disabled::-webkit-input-placeholder {
  opacity: 1; }

.input:-moz-placeholder {
  color: inherit;
  opacity: .4; }

.input:disabled:-moz-placeholder {
  opacity: 1; }

.input::-moz-placeholder {
  color: inherit;
  opacity: .4; }

.input:disabled::-moz-placeholder {
  opacity: 1; }

.input:-ms-input-placeholder {
  color: inherit;
  opacity: .6; }

.input:disabled:-ms-input-placeholder {
  opacity: 1; }

.input::-ms-clear {
  display: none; }

.input::-ms-reveal {
  display: none; }
