// .app--header
header.app--header
	div.icon--holder.major
		div.icon =
	div.stretch--holder
		div.title Title and more more more title, yeh!
	div.icon--holder.minor
		div.icon :
	//a(href='./index.html') Index
	//a(href='./home.html') Home
	//a(href='./condition.html') Cond
	//a(href='./form.html') Form
	//a(href='./layout.html') Layout
	//a(href='./text.html') Text
	//a(href='./bs.html') BS
// /.app--header