// .app--header
header.app--header
	div.icon--cell.major
		div.icon--holder
			div.icon.i--menu
				span.line.l-1
				span.line.l-2
				span.line.l-3
	div.stretch--cell
		div.title Title and more more more title, yeh!
	div.icon--cell.minor
		div.icon--holder
			div.icon.i--more
				span.dot.d-1
				span.dot.d-2
				span.dot.d-3
	//a(href='./index.html') Index
	//a(href='./home.html') Home
	//a(href='./condition.html') Cond
	//a(href='./form.html') Form
	//a(href='./layout.html') Layout
	//a(href='./text.html') Text
	//a(href='./bs.html') BS
// /.app--header