// .header
header.header
	a(href='./index.html') Index
	a(href='./home.html') Home
	a(href='./form.html') Form
	a(href='./layout.html') Layout
	a(href='./text.html') Text
	a(href='./bs.html') BS
// /.header