.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.card-wt {
  border-top: none; }

.card--header {
  width: 100%;
  height: 3.2em;
  line-height: 3.2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(255, 255, 255, 0.55);
  display: grid;
  grid-template-columns: auto -webkit-min-content;
  grid-template-columns: auto min-content;
  grid-template-rows: 1fr;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .card--header .title--holder {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1em; }
  .card--header .title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1em;
    line-height: inherit;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0; }
  .card--header .ff .card--header .title {
    white-space: normal;
    word-break: break-all; }
  .card--header .icons--holder {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: 1fr;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    justify-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .card--header .icon {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 3.2em;
    min-width: 3.2em;
    max-width: 3.2em;
    text-align: center; }

.card--body {
  padding: 2em 1em 2em 1em; }

.gauge {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  grid-gap: .9em 1.25em;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.label--holder {
  text-align: right;
  white-space: nowrap; }
  .label--holder .label {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.65); }
  .label--holder .value {
    font-size: .6em;
    margin-top: -.4em;
    color: rgba(255, 255, 255, 0.35); }

.gauge--holder {
  padding: 0.25em 0 0 0; }

.gauge--layer-1 {
  height: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); }

.gauge--layer-2 {
  height: 1.5em;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35);
          box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35); }
