.home
	max-width: 430px
	margin: 0 auto
	text-align: center
	.logo
		margin: 4.5em 0 3.5em 0

.auth
	.input
		text-align: center
		width: 100%
	.btn
		width: 62%
	.field + .field
		margin-top: .5em
	.action
		margin-top: 3em