.textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: var(--font-cond);
  font-size: 1.18em;
  line-height: 1.25;
  word-break: normal;
  word-wrap: break-word;
  min-height: 2.75em;
  height: auto;
  max-height: 7.67em;
  background: none;
  color: rgba(var(--key-color), calc(var(--key-alpha) + .3));
  padding: 1.05em .75em .44em .75em;
  margin: 0;
  outline: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  overflow: auto;
  overflow-x: hidden;
  cursor: default;
  resize: none;
  vertical-align: top;
  -webkit-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }
  .textarea__hidden {
    display: block;
    height: auto;
    max-width: 100%;
    background-color: #330000; }
  .textarea + .brd {
    -webkit-transition: all .175s ease-in-out;
    transition: all .175s ease-in-out;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute; }
    .textarea + .brd:before {
      -webkit-transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(var(--key-color), .1);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1); }
    .textarea + .brd:after {
      -webkit-transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out;
      transition: transform .175s ease-in-out, opacity .1s ease-in-out, background-color .175s ease-in-out, -webkit-transform .175s ease-in-out;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: rgba(var(--active-color), .8);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11);
              transform: translate3d(0, 0, 0) translate(0, 2px) scale(1.11, 1.11); }
  .textarea:hover {
    color: rgba(var(--key-color), calc(var(--key-alpha) + .3)); }
    .textarea:hover + .brd:before {
      background-color: rgba(var(--key-color), .15);
      height: 2px; }
  .textarea:focus {
    color: rgba(var(--key-color), calc(var(--key-alpha) + .3)); }
    .textarea:focus + .brd:before {
      -webkit-transition-duration: .225s;
              transition-duration: .225s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
              transform: translate3d(0, 0, 0) translate(0, -2px) scale(0.89, 0.89);
      opacity: 0; }
    .textarea:focus + .brd:after {
      -webkit-transition-duration: .175s;
              transition-duration: .175s;
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) translate(0, 0) scale(1, 1);
      opacity: 1; }
  .textarea:disabled {
    color: rgba(var(--key-color), .2) !important;
    cursor: default !important; }
    .textarea:disabled + .brd:before {
      background-color: rgba(var(--key-color), .1) !important;
      height: 1px !important; }
  .textarea.error {
    color: rgba(var(--error-color), .75);
    font-style: italic; }

.textarea::-webkit-input-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25));
  opacity: 1;
  -webkit-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }

.textarea:hover::-webkit-input-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:focus::-webkit-input-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:disabled::-webkit-input-placeholder {
  color: rgba(var(--key-color), .2); }

.textarea:-moz-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25));
  opacity: 1;
  -webkit-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }

.textarea:hover:-moz-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:focus:-moz-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:disabled:-moz-placeholder {
  color: rgba(var(--key-color), .2); }

.textarea::-moz-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25));
  opacity: 1;
  -webkit-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }

.textarea:hover::-moz-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:focus::-moz-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:disabled::-moz-placeholder {
  color: rgba(var(--key-color), .2); }

.textarea:-ms-input-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25));
  opacity: 1;
  -webkit-transition: all .175s ease-in-out;
  transition: all .175s ease-in-out; }

.textarea:hover:-ms-input-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:focus:-ms-input-placeholder {
  color: rgba(var(--key-color), calc(var(--key-alpha) - .25)); }

.textarea:disabled:-ms-input-placeholder {
  color: rgba(var(--key-color), .2); }
