@import "../__var"



// .card
.card
	box-sizing: border-box
	border-top: 1px solid #{'rgba(var(--key-color), .08)'};
	border-bottom: 1px solid #{'rgba(var(--key-color), .08)'};
.card-wt
	border-top: none



// .card--header
.card--header
	width: 100%
	height: var(--card-header-height)
	line-height: var(--card-header-height)
	//color: rgba(255,255,255, .55)
	color: #{'rgba(var(--key-color), var(--key-alpha))'};
	vertical-align: middle
	user-select: none
	border-bottom: 1px solid #{'rgba(var(--key-color), .08)'};
	display: grid
	grid-template-columns: auto min-content
	grid-template-rows: 1fr
	justify-content: stretch
	align-content: stretch
	justify-items: stretch
	align-items: stretch
	
	
	
	// .icon--cell
	.icon--cell
		box-sizing: border-box
		display: grid
		grid-template-columns: repeat(10, auto)
		grid-template-rows: 1fr
		justify-content: stretch
		align-content: stretch
		justify-items: stretch
		align-items: stretch
		&.major
		&.minor
		
		// .icon--holder
		.icon--holder
			box-sizing: border-box
			width: var(--card-header-height)
			min-width: var(--card-header-height)
			max-width: var(--card-header-height)
			text-align: center
			position: relative
			//background-color: #000033
		
		// .icon
		.icon
	
	
	
	// .stretch--cell
	.stretch--cell
		overflow: hidden
		position: relative
		
		// .title
		.title
			box-sizing: border-box
			position: absolute
			width: 100%
			font-size: 1em
			line-height: inherit
			//font-weight: 500
			//text-transform: uppercase
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			padding: 0 1em
			margin: 0



// .card--body
.card--body
	padding: 2em 1em